.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

.modal-content input, .modal-content textarea, .modal-content select {
  width: 90%;
  margin: 10px 0;
  padding: 8px;
}

.close {
  float: right;
  font-size: 25px;
  cursor: pointer;
}
